@using Ppt23.Client.ViewModels

@if (Vyb == null) return;
@if (Vyb.IsInEditMode == null) return;

<head>
    <meta charset="utf-8" />
</head>

@if (Vyb.IsInEditMode)
{
    <div><input type="text" @bind-value="@Vyb.Name" /></div>
    <div><input type="date"@bind-value="@Vyb.BoughtDateTime" /></div>
    <div><input type="date" @bind-value="@Vyb.LastRevisionDateTime" /></div>
    <div class="h-full w-full">@(Vyb.IsRevisionNeeded ? "Ano" : "Ne")</div>
    <div><button class="mx-2 my-1 rounded-md bg-orange-200" @onclick="() => Vyb.IsInEditMode = false">OK</button></div>
}
<div class="h-full w-full">@Vyb.Name</div>
<div class="h-full w-full">@Vyb.BoughtDateTime.ToShortDateString() </div>
<div class="h-full w-full">@Vyb.LastRevisionDateTime.ToShortDateString()</div>
<div class="h-full w-full">@(Vyb.IsRevisionNeeded ? "Ano" : "Ne")</div>
<div>
    <button class="mx-2 my-1 rounded-md bg-red-400" @onclick="() => SmazVybaveni(Vyb)">Smazat</button>
    <button class="mx-2 my-1 rounded-md bg-teal-500" @onclick="() => Revize(Vyb)">Provést revizi</button>
    <button class="mx-2 my-1 rounded-md bg-teal-500" @onclick="() => Vyb.IsInEditMode = true ">Upravit</button>
</div>

@code {

    [Parameter] public VybaveniVm? Vyb { get; set; }
    [Parameter] public EventCallback<VybaveniVm> SmazEventCallBack { get; set; }
    [Parameter] public EventCallback<VybaveniVm> Zreviduj { get; set; }

    public async Task SmazVybaveni(VybaveniVm vybaveni)
    {
        await SmazEventCallBack.InvokeAsync(vybaveni);
    }

    public async Task Revize(VybaveniVm vybaveni)
    {
        vybaveni.LastRevisionDateTime = DateTime.Today;
        await Zreviduj.InvokeAsync(vybaveni);
    }
}

